.column img {
  float: center;
  width: 500px
}

.about img {
  width: 200px;
  float: left;
}

.title {
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  body {
    background-color: black;
    color: white;
  }
}
