.column img {
  float: center;
  width: 500px
}


.panel-heading img {
  width: 140px;
  float: left;
}

.title {
  font-weight: bold;
}

@media screen and (max-width: 1500px) {
  body {
    background-color: teal;
    color: black;
  }
}
